@model IEnumerable<Models.Dao.KhachHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="get" action="/KhachHang/Index">
    <fieldset>
        <input type="text" name="searchdata" value =""/>
        <input type="submit" name="search" value="Tìm Kiếm">
        <a href="/KhachHang/Create"><input type="button" name="them" value="Thêm Mới"></a>
    </fieldset>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhachHangTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHangSdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHangDiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHangCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHangTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHangSdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHangDiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHangCode)
        </td>
        <td>
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=item.KhachHangId })
        </td>
    </tr>
}

</table>
