@using Models.Dao
@model Models.Dao.Doan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Doan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DoanId)

        <div class="form-group">
            @Html.LabelFor(model => model.DoanTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoanTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoanTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoanNgayDi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoanNgayDi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoanNgayDi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoanNgayVe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoanNgayVe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoanNgayVe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">TourCode</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tour.TourCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tour.TourCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoanHotelCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoanHotelCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoanHotelCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoanFoodCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoanFoodCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoanFoodCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoanVehicleCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoanVehicleCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoanVehicleCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoanAdditionalCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoanAdditionalCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoanAdditionalCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<h2>Thêm Hành Khách</h2>
<form method="get" action="/Doan/ThemKhach">
    <div class="form-horizontal">
        <input type="hidden" name="DoanId" value="@Model.DoanId">
        <div class="form-group">
            <label class="control-label col-md-2">Mã Khách:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="khachhangcode"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default"/>
                </div></div>
    </div>
</form>
<table class="table">
    <tr>
        <td>Tên Khách Hàng</td>
        <td>SĐT</td>
        <td>Địa Chỉ</td>
        <td>CMND</td>
    </tr>
    @foreach (CTDoanKhach it in ViewBag.CTDK) {
        <tr>
            <td>@it.KhachHang.KhachHangTen</td>
            <td>@it.KhachHang.KhachHangSdt</td>
            <td>@it.KhachHang.KhachHangDiaChi</td>
            <td>@it.KhachHang.CMND</td>
        </tr>
    }
</table>
<hr />
<h2>Phân Công Nhân Vien</h2>
<form method="get" action="/Doan/PhanCong">
    <div class="form-horizontal">
        <input type="hidden" name="DoanId" value="@Model.DoanId">
        <div class="form-group">
            <label class="control-label col-md-2">Mã Nhân Viên:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="nvcode" />
            </div>
        </div>
    <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Thêm" class="btn btn-default" />
        </div></div>
    </div>
</form>
<table class="table">
    <tr>
        <td>Tên</td>
        <td>SĐT</td>
        <td>Địa Chỉ</td>
        <td>CMND</td>
    </tr>
    @foreach (CTDoanNV it in ViewBag.CTDNV) {
        <tr>
            <td>@it.NhanVien.NhanVienTen</td>
            <td>@it.NhanVien.NhanVienSdt</td>
            <td>@it.NhanVien.NhanVienDiaChi</td>
            <td>@it.NhanVien.NhanVienCMND</td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
